body {
    background-color: rgb(52, 47, 47);

}
.profile {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
    padding: 20px;
    height: 100vh;
    margin: 0;
}