body {
    background-color: rgb(52, 47, 47);

}
.profile {
    position: absolute;
    top: 20px;
    left: 20px;
    
    background-color: white;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    height: 100vh;
    margin: 0;
    text-align: left;

}
.profile-pic {
        width: 100px;
        height: auto;
        border-radius: 10px;
}