body {
    background-color: rgb(52, 47, 47);

}
.profile {
    position: absolute;
    top: 20px;
    left: 20px;
    
    background-color: white;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    text-align: center;
    
}
.profile img {
    width: 150px;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}
