body {
    background-color: #463f3a;

}
.profile {
    position: absolute;
    top: 20px;
    left: 20px;
    
    background-color: #bcb8b1;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    text-align: center;
    
}
.profile img {
    width: 150px;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}
