body {
    background-color: rgb(52, 47, 47);

}
.profile {
    position: absolute;
    top: 20px;
    left: 20px;
    
    background-color: white;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    height: 30%;
    margin: 0;
    text-align: left;
    
}
.profile img {
    width: 150px;
    border-radius: 10px;
    position: center;
}
.profile h1 {
    position: center;
}
.profile p {
    position: center;
}